name: Build and push Windows Docker image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      run: |
        docker build -t magazyn-app:latest .
        docker tag magazyn-app:latest ${{ secrets.DOCKERHUB_USERNAME }}/magazyn-app:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/magazyn-app:latest
